<!DOCTYPE html>
<html>
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Model and View Helper</h2>

<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Docstring</th>
    </tr>
    {% for i in helper %}
    <tr>
        <td>{{ i.type }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.docstring|safe }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>


